@font-face {
    font-family: mlr;
    src: url(./BMWMotorradW05-Bold.woff2);
}
@font-face {
    font-family: ride;
    src: url(./BMWMotorradW05-Regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#outerSection{
    height: 100%;
    width: 100%;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/896.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1{
    padding-top: 30px;
    color: white;
    font-family: mlr;
    font-size: 78px;
    
    
}

p{
    color: lemonchiffon;
    font-family:ride ;
    font-size: 30px;
    
}
button:hover{
    background-color: white;
    color: black;
}

button{
    margin-top: 30px;
    padding:10px 40px;
    color: white;
    font-size: 20px; 
    border: 2px solid white;
    background-color: transparent;
    text-decoration: none;
    cursor:pointer;
}
